.css {
  display: flex;
  width: 100vw;
}

.closeModal {
  color: red !important;
  font-size: 30px !important;
  float: right;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-corner {
  background: #000;
}

.cssContent {
  flex: 1;
  height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.cssContent::-webkit-scrollbar {
  display: none;
}
/* .showSideBar {
  display: none !important;
  width: 50px !important;
  height: 70px !important;
  text-align: center !important;
  float: right !important;
  padding-right: 10px !important;
  color: aqua !important;
  cursor: pointer !important;
} */
.cssProperty {
  color: purple;
}
.cssValue {
  color: rgb(13, 10, 230);
}
.cssTag {
  color: red;
}

.css__code {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cssInput {
  display: flex;
  width: 700px;
  height: 200px;
  outline: none;
}
.cssoutput {
  width: 300px;
  height: 200px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  overflow-y: scroll;
}
.cssoutput::-webkit-scrollbar {
  display: none;
}
.htmlCode {
  border-right: 1px solid black;
  margin: 0 5px;
  height: 200px;
  width: 350px;
  overflow-y: scroll;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  outline: none;
  line-height: 25px;
}
.cssCode {
  margin: 0 5px;

  height: 200px;
  width: 350px;
  overflow-y: scroll;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  outline: none;
  line-height: 25px;
}
.html__code::-webkit-scrollbar,
.css__code::-webkit-scrollbar {
  display: none;
}
#flexbox > h4 {
  margin: 20px;
  font-size: 24px;
}
.inHtmlCssFile {
  background-color: rgb(212, 214, 214);
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  color: rgb(50, 50, 153);
}
.linked {
  word-break: break-all;
}
.classProperty {
  color: blue;
}
.classValue {
  color: green;
}
.idProperty {
  color: blue;
}
.idValue {
  color: green;
}
.cssTag {
  margin-left: 5px;
}
.cssComment {
  color: gray;
}

.containers {
  width: 20vw;
  height: 120px;
  background-color: aqua;
  position: relative;
}
.child {
  width: 20px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 20%;
  left: 50%;
}
.h3Hover {
  background-color: red;
}
.h3Hover:hover {
  background-color: blue;
}
.h3Transition {
  background-color: red;
  transition: background-color 1s;
}
.h3Transition:hover {
  background-color: blue;
}
.mediaQueryDiv {
  background-color: red;
  width: 150px;
  height: 150px;
}
.cssExerciseButton:hover {
  background-color: green !important;
}

.responsiveNavBarItemsHover {
  text-align: center;
  flex: 1;
  color: white;
  font-size: 18px;
  line-height: 70px;
  list-style: none;
  cursor: pointer;
}
.responsiveNavBarItemsHover:hover {
  background-color: blue;
}

.css__exercise::-webkit-scrollbar {
  display: none;
}
.signupButton:hover {
  background-color: green !important;
}

@media only screen and (max-width: 1000px) {
  .mediaQueryDiv {
    background-color: aqua;
  }
}

.keyframes {
  color: red;
}
.animation__name {
  color: rgb(17, 66, 202);
}
.keyframes__percent {
  color: black;
}
.animatedItem {
}
@keyframes animate {
  25% {
    transform: translate(0, 120px);
  }
  50% {
    transform: translate(120px, 120px);
  }
  75% {
    transform: translate(120px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width:1320px){
  .css__code{
    flex-direction: column;
    justify-content:center;
  }
  .arrow{
     transform: rotate(90deg) scale(3);
    margin: 30px 0;
    
  }
  
}
@media only screen and (max-width:745px){
  .Content{
    overflow-x: hidden;
  }
  .cssInput{
     flex-direction: column;
     align-items: center;
     height: 420px;
  }
  .htmlCode{
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:375px){
  .htmlCode,.cssCode,.cssoutput{
    width: 300px;
  }
  
}
