.ebooks {
  display: flex;
  width: 100vw;
  
}
.ebooksContent{
   
   margin-top: 7vh;
   text-align: center;
}

.introToBooks{
  margin-top:  60px !important;
  line-height:25px;
}
.ebooksContent>p{
  line-height:25px;
  margin: 10px auto;
  width: 90vw;
}
.ebooksContent>p::first-letter{
  margin-left: 20px;
}
.ebooksContent>h1{
 margin: 40px auto;
  background: #e9e9e9 !important;
  width: 75vw;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  color: #0a0453 !important;
  
}
.ebooksContent>h3{
  margin: 10px;
  text-align: center;
  color: #149b02;
  padding: 3px 0;
}
.ebooksContent>b{
  margin: 10px 0;
  text-align: center;
  color: #0a0453;
  padding: 3px 0;
  width: 80%;
}
.ebooksContent>a{
  
  text-align: center;
  color: rgb(202, 38, 66);
  padding: 3px 0;
  font-size:18px;
  font-weight: bold;
}
.lastParag{
  margin-bottom:100px !important;
}

@media only screen and (max-width: 604px){
  .ebooksContent>h1{
    font-size:13px;
  }
 
}


