.faq {
  display: flex;
  width: 100vw;
}
.faq__header {
  background-color: #0a0453;
  width: 100vw;
  height: 11.2vh !important;
  position: fixed !important;
}
.faqSidebar {
  margin-top: 11.2vh;
}
.faqContent{
   margin-top: 11.2vh; 
   

}
.faqContent > h2 {
  padding: 10px 0;
  text-align: center;
  margin: 40px auto;
  color: #0a0453;
  background-color: #d1cfcf;
  width: 70vw;
}
.question__number {
  margin: 20px auto;
  color: #ef4045;
  background-color: #d1cfcf;
  width: 75vw;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
}
.faqContent > p {
  width: 75vw;
  margin: 20px auto;
  color: #0a0453;
  line-height: 30px;
}
.faqContent > p::first-letter {
  margin-left: 20px;
}
