.gitGithub{
    width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 94vh;
  margin-top: 6vh;
  
}
.gitGithub::-webkit-scrollbar{
    display: none;
}
.gitGithub>h3{
    color: #0a0453;
    margin: 50px 20px 0px 20px;

}
.gitGithub>p{
    line-height:25px;
    margin: 10px 20px;
}
.impor{
     background: rgba(240, 172, 132, 0.323);
     width: fit-content;
     padding: 10px;
     margin: 20px;
     border-radius: 5px;
}
.error{
     background: rgba(240, 172, 132, 0.323);
     padding: 0 5px;
     color: #0a0453;
     font-weight: 600;
}

.impor>span>b{
   margin: 0 10px 0 0;
   font-size:18px;
   
}
.gitGithub>h1{
  width: 100%;
  text-align: center;
  margin: 20px 3px;
  color: #0a0453;
  font-size:30px;
  
}
.git__push__explanation{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.gitGithub>strong{
    margin: 40px auto;
    width: 95vw;
    font-size: 18px;
    font-weight: 700;
    display:block;
    text-align: center;
    background: #0b04534f;
    padding: 5px;
    border-radius: 3px;
    color: #0a0453;
}
.git__push__explanation>img{
    width: 50vw;
    margin: 0 auto;
    
}
.git__pull__explanation{
    margin: 20px;
}
.git__pull__explanation>div{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
}