.html {
  display: flex;
  width: 100vw;
}
.Modal {
  width: 30%;
  height: 40%;
  background-color: blue;
  position: absolute;
  top: 30%;
  left: 35%;
  display: none;
}
.closeModal {
  color: red !important;
  font-size: 30px !important;
  float: right;
  cursor: pointer;
}
.Sidebar {
  background-color: #e9e9e9;
  width: 250px;
  height: 90vh;
}
.Sidebar > ul {
  /* margin-top: 20px; */
  background-color: #e9e9e9;
  text-align: center;
  height: 90vh;
  overflow-y: scroll;
  width: 100% !important;
  scrollbar-color: red yellow !important;
}

.Sidebar > ul > a {
  text-decoration: none;
  list-style-position: inside;
  font-family: Arial;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 16px;
  
}
.Sidebar > ul > a > li {
  margin: 15px 10px;
  padding: 5px 10px;
  text-align: start;
  cursor: pointer;
  color: #0a0061;
  text-transform: uppercase;
  font-size:12px;
  font-weight:800;
}


.Sidebar > ul::-webkit-scrollbar {
  background: white;
}
.Sidebar > ul::-webkit-scrollbar-thumb {
  background: #0a005f;
}
.Content {
  flex: 1;
  height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#htmlQuiz{
  margin-bottom: 70px;
}
.Content::-webkit-scrollbar {
  display: none;
}
.OpenSideBar {
  display:none !important;
  width: 40px !important;
  height: 40px !important;
  color: blue !important;
  cursor: pointer !important;
}
.addPaddingToSection{
  padding: 2px 0;
  
}


.codeSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputSection {
  width: 400px;
  height: 200px;
  outline: none;
  border:none;
  overflow-y: scroll;
  padding: 10px;
  /* background-color: #e9e9e9; */
  background-color: #cccccc;
  line-height: 30px;
}
.inputSection::-webkit-scrollbar {
  display: none;
}
.outputSection {
  width: 400px;
  height: 200px;
  outline: none;
  /* border: 1px solid gray; */
  border:none;
  /* background-color: rgb(228, 226, 226); */
    background-color: #cccccc;
  overflow-y: scroll;
  padding: 10px;
}
.outputSection::-webkit-scrollbar {
  display: none;
}

.sectionTittle {
  margin: 30px;
  padding: 7px 0;
  background-color: #e9e9e9;
  text-align: center;
  color: #0b0453;
  border-radius: 5px;
}

.clickHere {
  line-height: 2;
  width: 95%;
  margin: 5px auto;

}
.clickHere::first-letter{
  text-transform: uppercase;
}
.flexboxProperties{
  font-size:18px !important;
  color:#0b0453;
  background: #0a005f31;
  width: fit-content;
  padding: 5px;

}
.instruction {
  color: rgb(75, 134, 75);
}
.importants {
  color: rgb(146, 55, 55);
}

.arrow {
  transform: scale(3);
  color: #0b0453 !important;
}

.tag {
  color: #ff0000;
  font-size: 18px;
}
.property {
  color: rgb(64, 16, 236);
}
.propertyValue {
  color: green;
}

.comment__tag {
  color: blue;
  font-size: 18px;
}

.hrefColor {
  color: purple;
}
.linkColor {
  color: blue;
}

#Exercises {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.exercisesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.exercise {
  background-color: rgb(223, 221, 221);
  width: 500px;
  margin: 10px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.exercise::-webkit-scrollbar{
  display: none;
}

.listofcustomers > tr > td {
  padding-right: 10px;
}
.listofcustomers > tr > th {
  padding-right: 10px;
}
@media only screen and (max-width: 871px) {
  .Sidebar {
    width: 40px;
  }
  .Sidebar > ul {
    display: none;
  }
  .OpenSideBar {
    display: block !important;
  }
}
@media only screen and (max-width:1200px){
  .codeSection{
    flex-direction: column; 
  }
  
  
  .arrow{
    transform: rotate(90deg) scale(3);
    margin: 20px 0;
    
  }
}
@media only screen and (max-width:375px){
  .inputSection, .outputSection{
    width:300px;
  }
  .exercise{
    width: 300px;
  }
}
