.javaScript{
    display: flex;
    width:100vw;
    height: 90vh;
   
    
}
.javaScriptSidebar{
    width: 20%;
    height: 90vh;
    background-color:purple; 
    
}
.javaScriptSidebar>ul{
    margin-top:100px;
    background-color:aqua;
    text-align:center;
    height: 70vh;
    overflow-y: scroll;
    
    

}
.javaScriptSidebar>ul::-webkit-scrollbar{
    display: none;
}
.javaScriptSidebar>ul>li{
    background-color:red;
    padding: 15px 30px;
    text-align: start;
    cursor:pointer;
    
    

}
.javaScriptContent{
    flex: 1;
    height: 90vh;
    background-color:green;
    overflow-y: scroll;
}
.javaScriptContent::-webkit-scrollbar{
    display: none;
}

.showSideBar{
    display: none !important;
    width: 50px !important;
    height:70px !important;
    text-align: center !important;
    float: right !important;
    padding-right: 10px !important;
    color: white;
    cursor: pointer !important;
}



@media only screen and (max-width:871px){
    .javaScriptSidebar{
        width: 60px;
    }
    .javaScriptSidebar>ul{
        display: none;
    }
    .showSideBar{
        display: block !important;
    }
}