.javascript {
  display: flex;
  width: 100vw;
}
.Modal {
  width: 30%;
  height: 40%;
  background-color: blue;
  position: absolute;
  top: 30%;
  left: 35%;
  display: none;
}
.javascript__html,
.javascript__css,
.javascript__javascript,
.javascript__browser {
  width: 520px;
  height: 200px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  overflow-y: scroll;
  padding: 10px;
}
.javascript__html::-webkit-scrollbar,
.javascript__css::-webkit-scrollbar,
.javascript__javascript::-webkit-scrollbar,
.javascript__browser::-webkit-scrollbar {
  display: none;
}

.declarationKey {
  color: blue;
}
.variableName {
  color: purple;
}
.console {
  color: rgb(218, 114, 17);
}
.insideConsole {
  color: black;
}

.tag {
  color: rgb(224, 50, 50);
}
.property {
  color: rgb(64, 16, 236);
}
.propertyValue {
  color: green;
}

.comment__tag {
  color: blue;
  font-size: 18px;
}

.hrefColor {
  color: purple;
}
.linkColor {
  color: blue;
}

#javascriptExercises {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.javascript__exercise {
  background-color: rgb(223, 221, 221);
  width: 500px;
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: scroll;
}
.javascript__exercise::-webkit-scrollbar {
  display: none;
}

.listofcustomers > tr > td {
  padding-right: 10px;
}
.listofcustomers > tr > th {
  padding-right: 10px;
}
.assignmentOperatorsExplanation {
  width: 100%;
  text-align: center;
}
.assignmentOperatorsExplanation > tr > th {
  padding: 20px;
  background-color: aqua;
}
.assignmentOperatorsExplanation > tr > td {
  padding: 15px;
  margin: 5px;
  background-color: gray;
}
.domSections {
  margin: 20px;
  font-size: 18px;
  color: blue;
}
.note {
  color: #a54d39;
  font-size: 18px;
}
.subTittles {
  font-size: 18px !important;
  color: #0b0453;
  background: #0a005f31;
  width: fit-content;
  padding: 5px;
  margin: 10px 25px;
}
.inhtmlcssjsbroSections {
  text-align: center;
  background: #110969d2;
  color: white;
  width: 400px;
  padding: 3px 10px;
  margin-top: 20px;
}
.afterMedia {
  display: none;
}
@media only screen and (max-width: 871px) {
  .javascriptSidebar {
    width: 40px;
  }
  .javascriptSidebar > ul {
    display: none;
  }
  .OpenSideBar {
    display: block !important;
  }
}
@media only screen and (max-width: 1280px) {
  .html__css {
    display: none !important;
  }
  .beforeMedia {
    display: none !important;
  }
  .afterMedia {
    display: block !important;
    margin: 30px 0 0px 0;
  }
}

@media only screen and (max-width: 414px) {
  .assignmentOperatorsExplanation {
    transform: scale(0.8, 0.7);
    margin-left: -35px;
    margin-top: -70px;
    margin-bottom: -70px;
  }
  .beforeMedia,.afterMedia{
    width: 280px;
  }
}
