.javascript {
  display: flex;
  width: 100vw;
}
.javaScriptModal {
  width: 30%;
  height: 40%;
  background-color: blue;
  position: absolute;
  top: 30%;
  left: 35%;
  display: none;
}
.closeModal {
  color: red !important;
  font-size: 30px !important;
  float: right;
  cursor: pointer;
}
.javascriptSidebar {
  background-color: purple;
  width: 200px;
}
.javascriptSidebar > ul {
  margin-top: 50px;
  background-color: aqua;
  text-align: center;
  height: 80vh;
  overflow-y: scroll;
  width: 100% !important;
}
.javascriptSidebar > ul::-webkit-scrollbar {
  display: none;
}
.javascriptSidebar > ul > a {
  text-decoration: none;
}
.javascriptSidebar > ul > a > li {
  margin: 10px 0;
  padding: 5px 30px;
  text-align: start;
  cursor: pointer;
}
.javascriptContent {
  flex: 1;
  height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.javascriptContent::-webkit-scrollbar {
  display: none;
}
.showSideBar {
  display: none !important;
  width: 50px !important;
  height: 70px !important;
  text-align: center !important;
  float: right !important;
  padding-right: 10px !important;
  color: aqua !important;
  cursor: pointer !important;
}

.javascript__code {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.javascript__input {
  width: 520px;
  height: 200px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  overflow-y: scroll;
  padding: 10px;
}
.javascript__input::-webkit-scrollbar {
  display: none;
}
.javascript__output {
  width: 520px;
  height: 200px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  overflow-y: scroll;
  padding: 10px;
}
.javascript__output::-webkit-scrollbar {
  display: none;
}
.javascript__html,
.javascript__css,
.javascript__javascript,
.javascript__browser {
  width: 520px;
  height: 200px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(228, 226, 226);
  overflow-y: scroll;
  padding: 10px;
}
.javascript__html::-webkit-scrollbar,
.javascript__css::-webkit-scrollbar,
.javascript__javascript::-webkit-scrollbar,
.javascript__browser::-webkit-scrollbar{
   display: none;
}

.declarationKey {
  color: blue;
}
.variableName {
  color: purple;
}
.console {
  color: rgb(218, 114, 17);
}
.insideConsole {
  color: black;
}

.tag {
  color: rgb(224, 50, 50);
}
.property {
  color: rgb(64, 16, 236);
}
.propertyValue {
  color: green;
}

.comment__tag {
  color: blue;
  font-size: 18px;
}

.hrefColor {
  color: purple;
}
.linkColor {
  color: blue;
}

#javascriptExercises {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.javascript__exercise {
  background-color: rgb(223, 221, 221);
  width: 500px;
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction:column;
  padding:5px;
  overflow-y: scroll;
}
.javascript__exercise::-webkit-scrollbar{
  display: none;
}

.listofcustomers > tr > td {
  padding-right: 10px;
}
.listofcustomers > tr > th {
  padding-right: 10px;
}
.assignmentOperatorsExplanation {
  width: 100%;
  text-align: center;
}
.assignmentOperatorsExplanation > tr > th {
  padding: 20px;
  background-color: aqua;
}
.assignmentOperatorsExplanation > tr > td {
  padding: 15px;
  margin: 5px;
  background-color: gray;
}
@media only screen and (max-width: 871px) {
  .javascriptSidebar {
    width: 60px;
  }
  .javascriptSidebar > ul {
    display: none;
  }
  .showSideBar {
    display: block !important;
  }
}
