.privacy {
  display: flex;
  width: 100vw;
}
.privacy__header {
  background-color: #0a0453;
  width: 100vw;
  /* height: 11.2vh !important; */
  height: 7vh !important;
  position: fixed !important;
}



.privacyContent{
   margin-top: 7vh; 
}
.privacyContent > h2 {
  padding: 10px 0;
  text-align: center;
  margin: 20px auto;
  color: #0a0453;
  background-color: #d1cfcf;
  width: 70vw;
}
.question__number {
  margin: 20px auto;
  color: #ef4045;
  background-color: #d1cfcf;
  width: 75vw;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
}
.privacyContent > p {
  width: 75vw;
  margin: 20px auto;
  /* color: #0a0453; */
  line-height: 30px;
}
.privacyContent > ul {
  width: 65vw;
  margin: 20px auto;
  
  line-height: 30px;
}
.privacyContent > p::first-letter {
  margin-left: 20px;
}
.privacyContent>h1{
     width: 100vw;
  margin: 60px auto;
  text-align: center;
  color: #0a0453;
  line-height: 30px;
}



